:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --button-radius: 35px;

    --font-primary: "Open Sans";
    --font-secondary: "Raleway";
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1352px;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: var(--font-secondary);
    color: var(--color-black);
    font-weight: 400;
    font-size: 36px;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-logo {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 300;
    padding: 16px 0;
}

.menu {
    display: flex;
}

.menu a{
    text-transform: uppercase;
    display: inline-block;
    padding: 28px 47px;
    margin: 0 0 4px 0;
    font-size: 11px;
    font-weight: 700;
    color: var(--color-grey);
}

.menu a:hover {
    color: var(--color-black);
    box-shadow: 0 4px 0 0 var(--color-primary);
    cursor: pointer;
}

.opening-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0 0 0;
}

.opening-title {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 49px;
    color: var(--color-black);
}

.opening-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
    margin: 20px 0 38px 0;
}

.opening-button {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 22px 0;
    width: 440px;
    text-align: center;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.opening-image {
    width: 100%;
    height: auto;
}

.stats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 120px 0;
}

.stats-title {
    margin: 0 0 100px 0;
}

.stats-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stats-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 92px;
    max-width: 176px;
}

.stats-number {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 6px;
    margin: 14px 0 19px 0;
}

.stats-caption {
    font-family: var(--font-secondary);
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}

.dot {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    margin: 0 15px 0 0;
}

.dot-image {
    position: absolute;
    left: 30px;
    top: 3px;
}

.dot-red {
    background: var(--color-redish);
}

.dot-blue {
    background: var(--color-primary);
}

.dot-green {
    background: var(--color-green);
}