:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --button-radius: 35px;

    --font-primary: "Open Sans";
    --font-secondary: "Raleway";
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1352px;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: var(--font-secondary);
    color: var(--color-black);
    font-weight: 400;
    font-size: 36px;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-logo {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 300;
    padding: 16px 0;
}

.menu {
    display: flex;
}

.menu a{
    text-transform: uppercase;
    display: inline-block;
    padding: 28px 47px;
    margin: 0 0 4px 0;
    font-size: 11px;
    font-weight: 700;
    color: var(--color-grey);
}

.menu a:hover {
    color: var(--color-black);
    box-shadow: 0 4px 0 0 var(--color-primary);
    cursor: pointer;
}

.opening-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0 0 0;
}

h1 {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 49px;
    color: var(--color-black);
}

.opening-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
    margin: 20px 0 38px 0;
}

.opening-button {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 22px 0;
    width: 440px;
    text-align: center;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.opening-image {
    width: 100%;
    height: auto;
}

.stats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 120px 0;
}

.stats-title {
    margin: 0 0 100px 0;
}

.stats-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stats-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 92px;
    max-width: 176px;
}

.stats-number {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 6px;
    margin: 14px 0 19px 0;
}

.stats-caption {
    font-family: var(--font-secondary);
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}

.dot {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.dot-image-person {
    position: absolute;
    left: 30px;
    top: 3px;
}

.dot-image-eye {
    position: absolute;
    left: 21px;
    top: 13px;
}

.dot-image-catalog {
    position: absolute;
    left: 30px;
    top: 8px;
}

.color-red {
    background: var(--color-redish);
}

.color-blue {
    background: var(--color-primary);
}

.color-green {
    background: var(--color-green);
}

.benefits {
    background: var(--color-light-grey);
    padding: 105px 0;
}

.benefits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit {
    height: 370px;
    max-width: 1124px;
    width: 100%;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    margin: 0 0 37px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.benefit-info {
    margin: 91px 35px;
}

.benefit-text {
    line-height: 22px;
    color: var(--color-black);
    margin: 30px 0 50px 0;
    max-width: 416px;
    width: 100%;
}

.benefit-line{
    max-width: 328px;
    width: 100%;
    height: 4px;
}

.benefit-image {
    margin: 30px 71px;
    position: relative;
}

.benefit-laptop {
    height: 219px;
    margin: 75px 0 0 0;
    position: relative;
    z-index: 2;
}

.benefit-shape-1 {
    width: 180px;
    height: 180px;
    border-radius: 41px;
    position: absolute;
    bottom: 90px;
    right: 0px;
    transform: rotate(45deg);
    z-index: 1;
}

.benefit-phone {
    height: 328px;
    margin: 0 0 0 0;
    position: relative;
    z-index: 2;
}

.benefit-shape-2 {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.benefit-2-heading {
    max-width: 300px;
}

.benefit-3-heading {
    max-width: 350px;
}

.benefit-image-separate {
    width: 100%;
    max-width: 440px;
    height: 370px;
    margin: 0 0 0 61px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.benefit-split {
    display: flex;
    width: 100%;
    max-width: 1124px;
}

.benefit-image-trumpet {
    height: 207px;
    margin: 98px 0 0 62px;
}


.pricing {
    padding: 100px 0;
}

.pricing-title {
    text-align: center;
    margin: 0 0 50px 0;

}

.pricing-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pricing-box {
    width: 372px;
    height: 461px;
    border-radius: 18px;
    padding: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box-red {
    border: 1px solid var(--color-redish);
}

.box-blue {
    border: 1px solid var(--color-primary);
    box-shadow: 5px 10px 27px #07ACE629;
}

.box-green {
    border: 1px solid var(--color-green);
}

.box-large {
    width: 405px;
    height: 500px;
}

.pricing-box-heading {
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 20px;
}

.pricing-box-price {
    text-align: center;
    font-family: var(--font-primary);
    font-size: 46px;
    font-weight: 300;
    margin: 14px 0 15px 0;
}

.price-red {
    color: var(--color-redish);
}

.price-blue {
    color: var(--color-primary);
}

.price-green {
    color: var(--color-green);
}

.limited-offer {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 700;
}

.pricing-box-features {
    padding: 70px 0 0 0;
    text-align: center;
    margin: 20px;
    color: var(--color-black);
    font-size: 14px;
}

.pricing-box-features-lg {
    padding: 30px 0 0 0;
    text-align: center;
    margin: 20px;
    color: var(--color-black);
    font-size: 14px;
}

.pricing-box-features li {
    margin: 20px 0 22px 0;
}

.pricing-box-features-lg li {
    margin: 30px 0 25px 0;
}

.box-large h3 {
    padding: 10px 0;
}

.checkmark::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}

.crossmark::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}

.spacer {
    margin: 25px 0;
}

.pricing-button {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    padding: 16px 0;
}

.pricing-button-lg {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    padding: 16px 0;
}

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}

.contact-col {
    width: 50%;
}


.contact-info .mail::before {

}